.cover__link{
  background: url(../../../images/__background.png) no-repeat center;
  background-size: cover;
  max-width: 100%;
  min-height: 740px;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}

.cover__link::before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.cover__link:hover::before {
  opacity: 0.8;
  transition: ease-in-out 1s;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
    margin-bottom: 88px;
    margin-top: 90px;
  }
}

@media (max-width: 425px) {
  .cover__link {
    min-height: 200px;
    margin-bottom: 64px;
    margin-top: 66px;
  }
}