.photo-grid{
  display: grid;
  margin: 0 48px;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin-bottom: 107px;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin: 0 24px 88px;
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    margin: 64px 16px 0;
    gap: 12px;
  }
}

