.photo-grid{
  margin: 0;
  display: grid;
  margin: 0 48px;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 92px;
}

@media(min-width: 1024px) and (max-width: 1279px) {
  .photo-grid{
    grid-template-columns: repeat(3, 300px);
    margin-left: 0;
    margin-right: 0;
    gap: 14px;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  .photo-grid{
    margin-left: 24px;
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}