.photo-grid{
  display: grid;
  margin: 0 48px;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
    gap: 16px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
    gap: 12px;
  }
}

