.cover__subtitle{
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 0 auto;
  z-index: 2;
}

@media (max-width: 425px){
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
  }
}