.header{
  margin: 0 auto;
  max-width: 1184px;
  padding-top: 28px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

@media(min-width: 768px) and (max-width: 1023px) {
  .header{
    margin-left: 24px;
    margin-right: 24px;
  }
}