.intro{
  margin: 0;
  margin-left: 148px;
  margin-top: 102px;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 95px 24px;
  }
}

@media (max-width: 425px) {
  .intro {
    margin: 68px 16px 58px;
  }
}