.intro{
  margin: 0;
  margin-left: 148px;
  margin-top: 92px;
  margin-bottom: 92px;
}

@media(max-width: 1024px) {
  .intro{
    margin-left: 48px;
  }
}

@media(max-width: 768px) {
  .intro{
    margin: 88px 24px;
  }
}

@media(max-width: 425px) {
  .intro{
    margin: 64px 16px;
  }
}