.cover__title{
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0 auto 32px;
  z-index: 2;
}

@media (max-width: 425px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
    font-style: black;
  }
}