.place{
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

@media(min-width: 768px) and (max-width: 1023px) {
  .place{
    gap: 28px;
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    margin-right: 24px;
  }
}