.place{
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraphs";
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media (max-width: 900px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
    margin-bottom: 73px;
  }
}

@media (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraphs";
    gap: 32px;
  }
}

@media (max-width: 425px) {
  .place {
    margin-bottom: 50px;
  }
}